<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <p><strong>Miriam Derenbach</strong></p>
    <p>Fullstack Developer, Project Manager</p>
  <% end %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "About", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Project Details", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= link_to "Contact", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>