#one {
  position: absolute;
  width: 437px;
  height: 99px;
  left: 178px;
  top: 143px;

  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  z-index: -2;
}

#two {
  position: absolute;
  width: 224px;
  height: 110px;
  left: 454px;
  top: 173px;

  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  z-index: -2;
}

#three {
  position: absolute;
  width: 280px;
  height: 225px;
  left: 214px;
  top: 197px;

  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  z-index: -2;
}

#four {
  position: absolute;
  width: 58px;
  height: 59px;
  left: 185px;
  top: 382px;

  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  z-index: -2;
}
