#one {
  position: absolute;
  width: 437px;
  height: 99px;
  left: 112px;
  top: 148px;

  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
}

#two {
  position: absolute;
  width: 224px;
  height: 110px;
  left: 388px;
  top: 178px;

  border: 2px solid #C4C4C4;
  box-sizing: border-box;
}

#three {
  position: absolute;
  width: 280px;
  height: 225px;
  left: 148px;
  top: 202px;

  border: 2px solid #C4C4C4;
  box-sizing: border-box;
}

#four {
  position: absolute;
  width: 58px;
  height: 59px;
  left: 119px;
  top: 387px;

  border: 2px solid #C4C4C4;
  box-sizing: border-box;
}
