<div class="container">
  <!-- title section -->
  <div class="title" style="margin-bottom: 64px;">
    <h1>Contact me 📬</h1>
    <h3>feel free to reach out to me via</h3>
  </div>
  <!-- contact section -->
  <div class="flex-contact">
    <!-- social links -->
    <div class="links">
      <h3>Social</h3>
      <ul>
        <li><%= link_to '<i class="devicon-linkedin-plain"></i> LinkedIn', 'https://linkedin.com/in/miriamderenbach/' %></li>
        <li><%= link_to '<i class="devicon-github-original"></i> GitHub', 'https://github.com/miraimiri' %></li>
      </ul>
    </div>
    <!-- form -->
    <div class="form">
      <form action="https://send.pageclip.co/lSksSYexu7eaLtEHHiEqIAwLnxO3vcGp/contact-form" class="pageclip-form" method="post">
        <!-- inputs -->
        <label htmlFor="name">Name</label>
        <input type="text" name="name" placeholder="Your full name" class="input" required />
        <label htmlFor="email">Email address</label>
        <input type="email" name="email" placeholder="your.email@example.com" class="input" required />
        <label htmlFor="subject">Email subject</label>
        <input type="text" name="subject" class="input" placeholder="What about?" />
        <label htmlFor="message">Your message</label>
        <textarea type="text" name="message" placeholder="What would you like to tell me?" class="input" required></textarea>
        <button type="submit" class="pageclip-form__submit">
          <span>Send</span>
        </button>
      </form>
    </div>
  </div>
</div>