  <!-- Navbar section -->
<%= partial 'partials/navbar' %>
<!-- Background section -->
<%= partial 'partials/background' %>
<div class="container">
  <!-- Title section -->
  <%= partial 'partials/title' %>
</div>